.banner_2 img{
    width: 100%;
    height: auto;
}


.slidershow{
    display: none;
}

@media screen and (min-width: 720px) {

   
    .banner_2{
        display: none;
    }

    .banner_general{
        margin-bottom: 10px;
    }

    .slidershow{
        display: block;
        width: 100%;
        position: relative;

    }

    *{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    ul, ol{
        list-style: none;
    }
    
    .banner {
        max-width: 100%;
    }
    
    .slider li, .slidershow ul{
        width: 100%;
    }
    
    .slider ul li img{
        width: 100%;
    }
    
    .paginacion{
        position: absolute;
        top: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .paginacion li{
        font-size: 15px;
        margin: 2px 10px;
        color: #858585;
        cursor: pointer;
    }
}