@import "fuentes.css";
*{
    box-sizing: border-box;
}

body{
    padding-top: 107px;
}

header{
    width: 100%;
    height: 108px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

.contenedor_navbar{
    width: 100%;
}

#menu_navbar{
    display: none;
}

header label{
    float: right;
    cursor: pointer;
}

.navbar_logo img{
    width: 60%;
    float: left;
}

.menu_nav{
    position: absolute;
    top: 107px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    padding-left: 22px;
    padding-top: 30px;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.contenedor_navbar label img{
    width: 35px;
    height: 35px;
    margin-right: 30px;
    margin-top: 40px;
}

header .navbar{
    display: table;
}

.menu_nav a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: roboto_light;
    cursor: pointer;
}

.menu_nav  a:hover{
    color: #C4C4C4;
}

#menu_navbar:checked ~ .menu_nav{
    transform: translateX(0%);
} 

ul .menu_lista_3{
    display: none;
}

.menu_lista > .cuenta{
    display: none;
}

li a img{
    float: right;
    margin-right: 20px;
}

li .sub_cuenta{
    display: none;
}

li form{
    display: flex;
}

.contenedor_animada{
    display: none;
}

.search{
    background: white;
    border: none;
    color: #63717f;
    padding-left: 30px;
    width: 90%;
    border-radius: 5px;
    display: block;
    height: 30px;
    font-size: 20px;
    font-family: roboto_light;
    cursor: pointer;
    margin-bottom: 18px;
}


#search_submit{
    display: none;
  }

@media only screen and (min-width: 720px) {

    body{
        padding-top: 75px;
    }

    .menu_nav{
        position: static;
        width: auto;
        height: auto;
        transform: translate(0px);
        float: right;
        display: flex;
        top: 0;
        margin-right: 20px;
        background-color: white;
        
    }
    header label{
        display: none;
    }
 
    .navbar_logo img{
        width: 11%;
        float: none;
        margin-left: 43%;
        padding-bottom: 10px;
    }
    ul .menu_lista_2{
        display: none;
    }
    ul .menu_lista_3{
        display: block;
    }

    .menu_lista > .cuenta{
        display: block;
    }

    header{
        height: 75px;
    }
    .menu_principal{
        display: flex;
    }

    .menu_nav ul ul{
        display: none;
    }

    .menu_nav ul li:hover ul{
        display: block;
        position: absolute;
    }

    .menu_nav a{
        color: black;
        height: 40px;
        font-size: 15px;
    }


    ul .menu_lista a img{
        display: none;
    } 
    ul .menu_lista, .menu_lista_3{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .sub_menu{
        background-color: white;
    }

    .contenedor_animada{
        display: block;
        width: 23%;
        height: 15px;
        display: flex;
        position: absolute;
        overflow: hidden;
        margin-top: 30px;
        margin-left: 35px;
    }
    .contenedor_animada ul li{
        display: flex;
    }

    ul li .h1{
        color: red;
    }
    .contenedor_animada ul{
        animation: cambiar 7s infinite;
        font-family: roboto_light;
        font-size: 15px;
    }

    @keyframes cambiar {
        0%{margin-top: 0}
        20%{margin-top: 0}
        40%{margin-top: -15px}
        60%{margin-top: -15px}
    }
    .container_1{
        margin: 1px 1px;
        display: inline-block;
        position: relative;
        height: 20px;
        float: right;
        padding: 0;
        position: relative;
    }


    input.search[type="text"] {
        height: 20px;
        font-size: 15px;
        display: inline-block;
        font-family: "Lato";
        font-weight: 100;
        border: none;
        outline: none;
        color: #555;
        padding: 3px;
        padding-right: 60px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
        border-radius: 0;
      }
      #search_submit[type="submit"] {
        height: 15px;
        width: 15px;
        display: inline-block;
        color:red;
        float: right;
        background: url(../img/musica-searcher.png) center center no-repeat;
        background-size: cover;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        opacity: 0.4;
        transition: opacity .4s ease;
      }

      #search_submit[type="submit"]:hover {
        opacity: 0.8;
      }

      input.search[type="text"]:focus:hover {
        border-bottom: 1px solid #BBB;
      }
      
      input.search[type="text"]:focus {
        width: 250px;
        z-index: 1;
        border-bottom: 1px solid #BBB;
        cursor: text;
      }
    
}