@import "../fuentes.css";
section{
    margin: 22px;
    font-family: roboto_light;
}

.titulo{
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #C4C4C4;
}

.contenedor div label{
    font-size: 15px;
    width: 100%;
}

.contenedor div input{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 0;
    background-color: #F5F5F5;
    margin-bottom: 5px;
    margin-top: 5px;
}

div button{
    background-color: #D8E615;
    width: 100%;
    border: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

div button:hover{
    background-color: #E6156F;
}

.contenedor_telefono{
    display: flex;
}
.contenedor_telefono div{
    flex-grow: 1;
    margin-left: 2px;
    margin-right: 2px;
}
.contenedor_img div img{
    width: 100%;
}
.contenedor_img h2{
    font-size: 25px;
    text-align: center;
    color: #B9B9B9;
}

.img{
    position: absolute;
    z-index: 1;
    margin-bottom: 15px;
}
.person{
    width: 100%;
}



/*asd*/

.modal_option{
    display: none;
    position: fixed;
    padding-top: 250px;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal_option2{
    display: none;
    position: fixed;
    padding-top: 250px;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_option3{
    display: none;
    position: fixed;
    padding-top: 250px;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal{
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    width: 80%; 
}
.close{
    color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-family: roboto_light;
  margin-bottom: 15px;
  padding-left: 10px;
  right: 0;
}

.modal_btn1{
    font-size: 20px;
    font-family: roboto_light;
    color: red;
    margin-bottom: 35px;
}

.modal_btn2{
    font-size: 20px;
    font-family: roboto_light;
    color: #D8E615;
}

.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal h2{
    font-weight: bold;
    font-size: 20px;
    font-family: roboto_light;
    text-align: center;
    margin-bottom: 10px;
}

.boton_compra{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.boton_compra a{
    text-decoration: none;
}

.button_o{
    background-color: #D8E615;
    font-size: 20px;
    font-family: roboto_light;
    border: none;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.modal a{
    text-decoration: none;
}



/*salkd*/

@media screen and (min-width: 720px) {

    section{
        padding-left: 50px;
        padding-right: 50px;
    }
    .contendor_general{
        display: flex;
        justify-content: center;
    }
    .contenedor{
        flex-grow: 1;
    }
    .contenedor_img{
        flex-grow: 1;
        width: 50%;
        position: relative;
    }
    .img, .person{
        width: 50%;
        float: left;
    }
    .person{
        width: 45%;
        margin-top: 15px;
        margin-left: 180px;
        -webkit-animation-name: example_1;
        -webkit-animation-duration: 4s;
    }

    .img{
        position: absolute;
        z-index: 1;
        margin-left: 180px;
        -webkit-animation-name: example_2;
        -webkit-animation-duration: 2.5s;;
    }

    .modal{
        text-align: center;
    }
    .modal{
        width: 50%; 
    }

    @-webkit-keyframes example_2 {
        0%{
            margin-left: 0px;
            opacity: 0;
        }
    }
    @-webkit-keyframes example_1 {
        0%{
            margin-left: 70%;
            opacity: 0;
        }
    }




}