.caja_estado{
    display: flex;
    flex-wrap: wrap;
}

.caja_estado div{
    width: 50%;
    text-align: center;
}

.caja_info h1{
    font-size: 15px;
    font-family:  'Segoe UI';
    margin-bottom: 10px;
    margin-top: 10px;
    font-style: inherit;
    font-weight: bold;
}

.caja_info h2{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: #9A9A9A;
    margin-bottom: 10px;
    margin-top: 10px;
}

.caja_estado a{
    text-align: center;
    width: 80%;
    border: 0;
    background-color: #D8E615;
    color: white;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family:  'Segoe UI';
}

.caja_estado a:hover{
    background-color: #E6156F;
}

.caja_estado{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C4C4C4;
}

/* .contenedo_resena{
    padding-left: 15px;
    padding-right: 15px;
} */

.pagination{
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}


.pagination .page-link{
        display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 35px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}


.pagination .active .page-link{
   background-color: #BDC3C7;
}

@media screen and (min-width: 720px) {
    .usuario_resena{
        display: flex;
        flex-wrap: wrap;
    }
    .caja_estado div{
        width: auto;
        margin-left: 18px;
        margin-bottom: 18px;
    }

    .caja_estado a{
        width: auto;
        padding-top: 18px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 18px;
        margin-top: 15px;
        height: 50px;
    }

    main{
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 25px;
    }
    .pagination .page-link{
        display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-left: 0;
        margin-right: 0;
    
}

.pagination .page-link:hover{

    background-color: #BDC3C7;

}

}