body{
	display: flex;
	flex-wrap: wrap;
	background-color: #ECF0F1;
}

aside{



width:15%;
height: 100vh;

background-color: #7B7D7D;


}

aside>div:nth-child(1){
	background: white;
	

	margin-bottom: 50px;
}

aside div:nth-child(1) img{
	height: 50px;
	display: block;
	margin: 0 auto;
}

aside h1{
	
	line-height: 25px;

	padding-left: 15px;
	
	font-family: sans-serif;
}

aside #opciones{


 margin-bottom: 60px;


}


aside #opciones a{
	display: block;
	text-decoration:none;
	line-height: 35px;
	color: white;
	background-color: black;
	padding-left:40px;
	font-size: 0.9rem;
	font-family: sans-serif;

}

aside #opciones a:hover{
	background-color:#F4F4F4;
	color:black;
}
aside #opciones a{}


aside #opciones li  img{
	float: right;
	width: 10px;
	height: auto;


	margin-top: 10px;
	margin-right: 10px;
}