section#contenido #main{
	position: relative;
}


section#contenido div.registrar{

position:absolute;
left: 50px;
top: 50px;

}




section#contenido div.modal{
	position: absolute;
	top: 40px;
	left: 500px;
	display: none;
}




section#contenido div.registrar form{

	

	width: 230px;
	margin: 0 auto;
}






section#contenido div.registrar form input,section#contenido div.registrar form textarea{
	margin-top: 25px;
}

section#contenido div.registrar form input[type=submit]{
	background-color: #09bbec;
	border: none;
	color: white;
	border-radius: 5px;
    width: 150px;
	line-height: 25px;
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
	box-shadow: 0px 0px 2px black;

	
}

section#contenido div.registrar form input[type=submit]:focus{
	outline-style: none;
	box-shadow:none;
}

section#contenido div.registrar form button{
	background-color: #09bbec;
	border: none;
	color: white;
	border-radius: 5px;
    width: 150px;
	line-height: 25px;
	/*text-align: center;*/
	margin-top: 15px;
	cursor: pointer;
	box-shadow: 0px 0px 2px black;
	
}




section#contenido div.registrar form #cancelar{
	margin-bottom: 15px;
}




section#contenido div.registrar form button:focus{
	outline-style: none;
	box-shadow:none;
}


section#contenido div.registrar form input[type=text],section#contenido div.registrar form textarea{

	border-radius: 5px;
	box-shadow: 0px 0px 2px black;
	line-height: 30px;
	padding-left: 10px;
	border: none;

	font-size: 15px;

}

section#contenido div.registrar form textarea{

	line-height: none !important;
}

section#main div:nth-child(1){

	position: relative;
	height: 50px;
}

.caja{
	background-color: white;
width: 300px;

height: initial !important;

border-radius: 10px;

box-shadow:0px 0px 2px black; 
}

.caja-lg{
	background-color: white;
width: 900px;


border-radius: 10px;

box-shadow:0px 0px 2px black; 
}


.titulos{
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	color: gray

}



/*tablas*/

.tabla-lista{
	
	margin: 20px auto;
	
	width: 800px;

}

.tabla-lista th{
	color: gray;
	font-family: sans-serif;
}

.tabla-lista th,.tabla-lista td{

	width: 400px;
	line-height: 25px;
	text-align: center;
}

.tabla-lista td{

	line-height: 40px;
	
	font-family: sans-serif;


}

.tabla-lista tbody tr{
	/*border-bottom: 1px solid gray;*/
}

.tabla-lista .actualizar,.tabla-lista .eliminar{
	width: 200px;
}

.tabla-lista .actualizar button{
	background-color: #4fad4f;
	color: white;
	line-height: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px black;
	border: none;

	cursor: pointer;
}


.tabla-lista .eliminar button{
	background-color: #d41818;
	color: white;
	line-height: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px black;
	border: none;
	cursor: pointer;
}

.tabla-lista  tbody tr:nth-child(odd){
	background-color: #e0e0e0;
}


/*pos tabla*/


.tabla-pos2{
position: absolute;
	top: 320px;
	left: 50px;
	min-height: 260px;

}



.tabla-pos1{

	margin: 0 auto;
	margin-top: 20px;

	min-height: 260px;

}




.btn-agregar{
	position: absolute;

	right: 30px;
	top: 15px;
    border: none;
	border-radius: 5px;
	background-color: #1C5578;
	line-height: 25px;
	color: white;

	cursor: pointer;
}


.btn-agregar:focus{
	outline: none;


}


.tabla-lista .actualizar .btn-imagenes{

	background-color: #2E4053;
	color: white;
	line-height: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px black;
	border: none;

	cursor: pointer;

}


.tabla-lista .actualizar .btn-imagenes:focus{
	outline: none;
	box-shadow: 0 0 5px black;
}
