.contenedor-mdlPrendaImagenes{


	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 92vh;
	background-color: rgba(0,0,0,0.5);

	display: none;
}



.contenedor-mdlPrendaImagenes .contenedor{


	background-color: white;

	min-height: 500px;

	width: 700px;

	border-radius: 5px;

	margin: 0 auto;
	margin-top: 30px;

}

.contenedor-mdlPrendaImagenes .contenedor div{

	width: 90% !important;
	margin: 0 auto;

}


.contenedor-mdlPrendaImagenes .contenedor div div:nth-child(1) span{
	float: right;
}

.contenedor-mdlPrendaImagenes .contenedor div div:nth-child(3){

	width: 100%;
	height: 280px;

	overflow-x: scroll;
}


.contenedor-mdlPrendaImagenes .contenedor div div:nth-child(2) input,
.contenedor-mdlPrendaImagenes .contenedor div div:nth-child(2) select,
.contenedor-mdlPrendaImagenes .contenedor div div:nth-child(2) button{
		display: block;
		margin-bottom: 20px; 
}