.contenedor-mdlAgregarPrenda{


	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 92vh;
	background-color: rgba(0,0,0,0.5);

	display: none;

	
}



.contenedor-mdlAgregarPrenda .contenedor{


	background-color: white;

	min-height: 500px;

	width: 700px;

	border-radius: 5px;

	margin: 0 auto;
	margin-top: 30px;

}

.contenedor-mdlAgregarPrenda .contenedor #mdlAgregarPrendaInputDescripcion{
	height: 250px;
	width: 200px;
}

.contenedor-mdlAgregarPrenda .contenedor div{
	/*height: initial !important;
*/	width: 85% !important;
	margin:0 auto;
}

.contenedor-mdlAgregarPrenda .contenedor div div:nth-child(1) span{
	float: right;

}

.contenedor-mdlAgregarPrenda .contenedor table td{

	padding-bottom: 20px !important;
}