.contenedor-mdlStock{


	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 92vh;
	background-color: rgba(0,0,0,0.5);

	display: none;
}



.contenedor-mdlStock .contenedor{


	background-color: white;

	min-height: 500px;

	width: 700px;

	border-radius: 5px;

	margin: 0 auto;
	margin-top: 30px;

}

.contenedor-mdlStock .contenedor div{
	height: initial !important;
    
	width: 90%;
	margin: 0 auto;
	

}

.contenedor-mdlStock .contenedor div div:nth-child(1) span{
	float: right;
}

.contenedor-mdlStock .contenedor div div:nth-child(3){
	padding-top: 35px;

	padding-bottom: 35px;

	 
}


.contenedor-mdlStock .table{
	background-color: white;
}


.tabla-mdlStock table{

	display: block;
	overflow-y: scroll;
	height: 300px;
}

.tabla-mdlStock table thead tr{

	background-color: black;
	color: white;
	line-height: 30px;

}

.tabla-mdlStock table tbody tr{

	line-height: 40px;

}

.tabla-mdlStock table tbody tr:nth-child(even){
	background-color: gray;
}

.tabla-mdlStock table th,.tabla-mdlStock table tr{
	width: 150px;
	text-align: center;
}

.contenedor-mdlStock form label{

	display: block;
	margin-bottom: 5px;
}
