


section#main div.buscadorVentas{

  
	margin: 0 auto;
   margin-top: 10px;

	width: 200px;


	
 display: flex;

	height: auto;
}



.buscadorVentas label{
         display: block;
    background-color: black;


    line-height: 25px;


    border-radius: 5px;


    text-align: center;

 margin-left: 10px;

 margin-right: 10px;
    width:80px;
    color: white;

}



section#main .selectDate{
      

	width: 500px;


	margin: 0 auto;

	 margin-top: 10px;



}

.titulos{
     width: 1000px;
    margin: 0 auto;
    color: black;
}

.tabla-ventas{
    width: 1100px;
    margin: 0 auto;
}


.tabla-ventas th{


width: 200px;
line-height: 50px;
text-align: center;
 

}

.tabla-ventas thead{
    background-color: black;
    color: white;
}


.tabla-ventas td{
    text-align: center;
    line-height: 45px;
}

.tabla-ventas tbody tr:nth-child(even){
    background-color: gray;
} 

/*modal*/

.cajaVentas{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;




    width: 100%;
    height: 100vh;

    background-color: rgba(0,0,0,0.4);
}

.cajaVentas .modal-into{
    background-color: #fefefe;
    margin: 0 auto;
    margin-top: 70px;
    padding: 18px;
    width: 65%; 
    height: 250px !important;
}


.cajaVentas .modal-into div{

    margin-bottom: 20px;

    display: flex;
}


.cajaVentas .modal-into div div{
   width: 50%;
}


/**/

.pagination{
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}

 .pagination .page-link{
        display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-left: 0;
        margin-right: 0;
    
}

.pagination .page-link:hover{

    background-color: #BDC3C7;

}

.pagination .active .page-link{
   background-color: #BDC3C7;
}


.modalDetalleVenta{

    display: none;

    position: fixed;
    top:0px;
    left: 0px;

    width: 100%;
    height: 100vh;


    padding-top: 20px;

    background-color: rgba(0,0,0,0.4);

}


.modalDetalleVenta .contenidoModal{
    margin: 0 auto;

    width: 800px;

   height: 550px !important;


   overflow-y: auto;
  

    background-color: white;

    padding-top: 10px;


}


.modalDetalleVenta .contenidoModal .pulpa{
    display: flex;
    justify-content: space-around;
    /*background-color: red;*/
   height: 350px !important;
   margin-bottom: 10px;

   border-bottom: 2px solid red
}

.modalDetalleVenta .contenidoModal .pulpa div{
    width: 40%;
}

.modalDetalleVenta .contenidoModal .pulpa div h2{
    font-weight: bold;
    margin-bottom: 5px;
}

.modalDetalleVenta .contenidoModal .pulpa div div{
       display: flex;
    margin-bottom: 10px;
    width: 100%;
    

}

.modalDetalleVenta .contenidoModal .pulpa div label{
    display: block;


    font-size: 20px;

    width: 150px;

}

