@import "../fuentes.css";
.contenedor_colores{
     display: flex;

    flex-wrap: nowrap;
    
    max-width: 840px;

    overflow-x: hidden;

    margin: 0 auto;

    width: 100%;
}
.contenedor_colores a img{


    margin-right: 10px;
    
   
    
   
}

.contenedor_colores a img:hover{
    opacity: 0.5;
}

.repositorio_color{
    padding-left: 5px;
    padding-right: 5px;
}

.contenedor_colores div{
    padding-left: 5px;
    padding-right: 5px;
}

.other_color{
    padding: 20px;   
}

.other_color h1{
    font-size: 15px;
    font-family: roboto_light; 
    margin-bottom: 10px;
}

.contenedor_colores a img{
        width: 200px;
    }

section.other_color{
    position: relative;
}


section.other_color #descripcionArrowRight{
    position: absolute;
    top: 360px;
    right: 50px;
    cursor: pointer;

}

section.other_color #descripcionArrowRight img{
    width: 50px;
}

section.other_color #descripcionArrowLeft{
    position: absolute;
    top: 360px;
    left: 50px;
    cursor: pointer;
}

section.other_color #descripcionArrowLeft img{
    width: 50px;
}

@media screen and (min-width: 720px) {
    .other_color h1{
        margin-left: 50px;
        font-family: roboto_light;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #9A9A9A;
    }
    .repositorio_color{
        
    }

    .contenedor_colores{
        /*margin-left: 50px;
        margin-right: 50px;*/
    }

    .contenedor_colores a img{
        width: 200px;
    }


    section.other_color #descripcionArrowRight{
    position: absolute;
    top: 215px;
    right: 150px;
    cursor: pointer;

}

section.other_color #descripcionArrowLeft{
    position: absolute;
    top: 215px;
    left: 150px;
    cursor: pointer;
}

}