.descripcion_compra{
    text-align: center;
}

.Preciso_ropa p del{
    font-size: 15px;
    font-family: 'Segoe UI';
    color: #818181;
}

.Preciso_ropa p {
    font-size: 25px;
    font-family: 'Segoe UI';
    color: #EB0101;
}

.Talla h2{
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Segoe UI';
}

.Talla{
    margin-bottom: 10px;
    margin-top: 10px;
}

.tallas_tama div img{
    width: 50%;
    margin-bottom: 5px;
}

.tallas_tama{
    display: flex;
    justify-content: center;
}

.tock_cantidad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 22px;
}


.tock h3{
    font-size: 30px;
    font-family: 'Segoe UI';
}

.tock h2{
    font-size: 15px;
    font-family: 'Segoe UI';
}

.cantidad h2{
    font-size: 15px;
    font-family: 'Segoe UI';
}

.cantidad {
    width: 40%;
}

.cantidad input{
    width: 20%;
    padding: 5px;
    border: 1px solid;
}

.boton_compra button:hover{
    background-color: #E6156F;
    cursor: pointer;
}

.talla_container{
    display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 32px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Segoe UI';
  font-weight: bold;
}

.tallas_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .talla_container input:checked ~ .tallas_checkmark {
    background-color: #E6156F;
    color: white;
  }


.talla_container input{
    display: none;
}


@media screen and (min-width: 720px) {
    .Preciso_ropa p del{
        font-size: 20px;
        text-align: right !important;
    }
    .Preciso_ropa p {
        font-size: 40px;
    }
    .tallas_tama div img{
        width: 30%;
    }
    .tock_cantidad{
        display: flex;
        flex-wrap: wrap;
    }
    .tock{
        width: 100%;
        margin-bottom: 15px;
    }
    .tock h3{
        margin-top: 10px;
    }
    .cantidad input{
        width: 15%;
        margin-top: 10px;
    }
}




